// p {
//   align-items: center;
//   font-size: 70px;
//   font-weight: bolder;
//   color: green;
// }
#bg {
    background: url("../assets/imgs/agriBackground.jpg");
    background-size: cover;
}
.title{
  text-align: center;
  font-size: 20px;
}
#card{
  height: 125px;
  background: url("../assets/imgs/green-bg.jpg");
  background-repeat: no-repeat;

}
